* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.upper {
  background-color: #2481f4;
  color: white;
  text-align: end;
}

.upper .container span {
  padding: 5px 10px;
}

header img {
  padding: 15px 0;
}

header .flex {
  justify-content: space-between;
  align-items: center;
}

.flex {
  display: flex;
}

.flex .active {
  line-height: 60px;
  border-bottom: solid blue 5px;
}

.jumbo {
  height: 500px;
  background-color: #1c1c1c;
  overflow: hidden;
}

main {
  background-color: #1c1c1c;
  padding-top: 50px;
  padding-bottom: 50px;
}

main section .container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.poster {
  display: inline-block;
}

.poster img {
  width: 180px;
  height: 180px;
  margin: 0 15px;
}

.poster h3 {
  color: white;
  width: 180px;
  height: 100px;
}

.load {
  background-color: #2481f4;
  color: white;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 65px;
  margin: 0 auto;
}

.color-b {
  background-color: #2481f4;
}

.color-b .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}

.color-b .container div {
  display: flex;
  align-items: center;
  color: white;
}

.color-b .container img {
  width: 70px;
}

